/*===books section===*/
.books-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.2rem;
}

.books-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
}

.books-content figure {
  margin: 1rem;
  border: var(--border-color);
  padding: 2rem;
  background: var(--background-white);
  border-radius: 0.5rem;
}

.books-content a {
  cursor: pointer;
}

.books-content figure img {
  max-width: 90%;
  border-radius: 0.5rem;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.books-content figure img:hover {
  transform: scale(1.1);
}

.books-content figure figcaption {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.books-container button {
  padding: 1rem;
  border: var(--border-color);
  border-radius: 1rem;
  margin-block: 2rem;
  width: 20%;
  background: var(--background-white);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  min-width: fit-content;
}

.books-container button:hover {
  opacity: 0.75;
}

.books-container button a {
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: 700;
}

/*===responsive===*/
@media (max-width: 768px) {
  .books-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .books-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
