/*===header===*/
header {
  padding: 1rem 7%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow-dark-gray);
}

header ul {
  display: flex;
  gap: 2rem;
}

header ul li a {
  display: inline-block;
  padding: 0.8rem;
  font-size: 1.2rem;
  color: var(--dark-gray);
  position: relative;
}

header ul li > a::after {
  position: absolute;
  top: 40px;
  right: 0px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--scroll-black);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
}

header ul li > a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.logo {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--dark-gray);
}

/*===responsive===*/
@media (max-width: 991px) {
  header {
    padding: 1rem;
  }
  header ul {
    display: none;
  }
  .toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/assets/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    z-index: 11;
  }
  .toggle.active {
    position: fixed;
    right: 20px;
    background: url(/assets/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background-white);
    z-index: 10;
  }
}
